body{
    background-image: url("./Images/bodybackground.png");
}

p{
    float: left;
}

h1{
    color: #03fcf4;
}

.container{
    padding-top: 6%;
    padding-bottom: 6%;
    width: auto;
}

.jumbotron{
    background-color: white;
}

img{
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}