body {
  background-image: url("./Images/newbodybackground.jpg");
}

h1 {
  color: #2272d4;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-brand {
  color: white;
  background-color: #bef8fa;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-brand:hover{
  background-color: white;
}

.container {
  padding-top: 6%;
  padding-bottom: 6%;
  width: auto;
}

.jumbotron {
  background-color: white;
}

img {
  position: relative;
  float: left;
}

.img-fluid{
  height: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}