body{
    background-image: url("./Images/bodybackground.png");
}

p{
    float: left;
}

h1{
    color: #03fcf4;
}

.container{
    padding-top: 6%;
    padding-bottom: 6%;
}

.jumbotron{
    background-color: white;
}

img{
    float: left;
}